CompileFlags:
  Add:
    - "-I/data/data/com.termux/files/home/MagnetarVoIP/include"
    - "-I/data/data/com.termux/files/home/MagnetarVoIP/include/magnetarvoip"
    - "-std=c++17"
---
If:
  PathExclude: [.*\.cc, .*\.cpp, .*\.h, .*\.hpp]
CompileFlags:
  Add:
    - "-std=c++17"
---
If:
  PathMatch: [.*\.c]
CompileFlags:
  Add:
    - "-std=c11"
